*{
    box-sizing: border-box;
}

:root{
    --bg_cinza_claro: rgba(128, 128, 128, 0.651);
    --bg_rosa_claro:rgba(230, 150, 150, 0.363);
}


.logo__bg{
    width: 100%;
    height: 150px;
    background-color: black;
    display: flex;
    justify-content: center;
}
.logo__cabecalho{
   padding: 1.5rem;
}

.menu_navegacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


nav a {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 0.8rem;
    display: block;
    text-decoration: none;
    width: 100%;
    border-bottom:solid 1px black;
    font-size: 1.2rem;
}

.figura{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.poster img{ 
    width:100vw;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 5px;
    
}

.lbl a{
    text-decoration: none;
         
}

.lbl p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(0, 0, 0);
    line-height: 1.5;
    color: white;
    border-radius: 10px ;
    width: 65vw;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    padding: 0.3rem;
    max-width: 400px;
    box-shadow: 0px 3px 5px grey;
}

.blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.postagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:var(--bg_cinza_claro);
    padding-top: 1rem;
    margin-top: 0.5rem;
    width: 100vw;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 2rem;
    padding-bottom: 1.5rem;
    
}

.postagem img{
    width:100vw;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

 
}
.postagem p{
    padding-right:1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;

    font-size: 1.3rem;
    line-height: 1.3;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    text-indent: 3rem;

}

.blog h1{
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
}
.blog h2{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
}


.avatar{
    background-color: var(--bg_rosa_claro);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 1.5rem;

}

.avatar img{
    width: 50vw;
    border-radius: 50%;
    border: solid 3px white;
    margin:1.5rem;
    max-width: 200px;
   
}

.avatar h3{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    
}


.avatar p{
    padding-right:1rem;
    padding-left: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    font-size: 1rem;
    line-height: 1.2;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color:rgb(0, 0, 0);
    
}

.formulario{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    background-color:var(--bg_rosa_claro);
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
    border-radius: 0px 0px 10px 10px;
}

.formulario h3{
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
}

.campo{
    width:90%;
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    max-width: 300px;
   
}
.campo input{
    border-radius: 5px;
    border-color:var(--bg_cinza_claro);
}

.radioInput div, .checkbox div {
    padding-top: 0.5rem;
}
.enviar button{
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0.5rem;
    border-color: var(--bg_cinza_claro);
    box-shadow: 0px 3px 5px grey;
}

footer{
    background-color: black;
    height: 30px;
    color: white;
    text-align: center;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    
}

@media screen and (min-width:768px){

    .menu_navegacao{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        padding-bottom: 0.5rem;
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
         
    }

    nav a{
        display: inline;
        background-color: rgb(0, 0, 0);
        color: white;
        width: 30%;
        max-width: 300px;
        border-radius: 10px;
        margin-top: 0.5rem;
        box-shadow: 0px 3px 5px grey;
        border-bottom: none;
    }    

    .poster img{ 
        padding-top: 0rem;
    }  

    .poster img{ 
        width:100vw;
        max-width: 768px;
    }

    .poster.make{
        margin-top: 0.5rem;
    }

    .blog{
        flex-direction: row;
        align-items: flex-start;
        max-width: 768px;
        margin: 0 auto;
    }

    .postagem{
        width: 65%;
        margin-right: auto;
        margin-left: 1rem;
    }

    .postagem img{
        width: 100%;
        padding: 1rem;
    }
    .avatar{
        width: 25%;
        margin-right: 1.5rem;

    }

    .avatar img{
        width: 80%;
    }

    .blog h1{
        font-size: 3rem ;
    }

    .campo{
        max-width: 300px;
    }

    .formulario{
        max-width:  768px;
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (min-width:1024px){
    nav a:hover, .lbl p:hover{
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .logo__bg, footer{
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }

    .blog{
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
    
}